<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<!-- Tab titel -->
<title>Agnes project 2</title>
<!-- Load Vue.js -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

</head>

<body>
<!-- Create a div with just a rect in svg -->
<div>
  <svg width="960px" height="400px">
      <rect
        id="basic" x="10" y="200"
        width="200" height="30" stroke="black"
        fill="#69b3a2" stroke-width="1"/>
  </svg>
</div>

<!-- testing vue elements -->
<div id ="app">
    <ul>
        <li v-for="product in products">
            <input type="number" v-model.number="product.quantity">
            {{product.quantity}}{{product.name}} 
            <span v-if="product.quantity === 0">
                - OUT OF STOCK
            </span>
            <button @click="product.quantity +=1"> 
                Add One
            </button>
        </li>
    </ul>
    <h2>Total Inventory: {{ totalProducts}}</h2>
</div>

<script src = "js/basic.js"></script>
<script src = "js/testVue.js"></script>  

</body>
</html>